<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script>
        
        function validateForm(event) {
            const password = document.getElementById('password').value;
            const cpassword = document.getElementById('cpassword').value;

            if (!password || !cpassword) {
                alert('Both fields are required!');
                event.preventDefault(); 
                return false;
            }

            if (password !== cpassword) {
                alert('Passwords do not match!');
                event.preventDefault(); 
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <form action="/api/auth/reset-password/<%= token %>" method="post" onsubmit="return validateForm(event)">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required><br><br>
        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword" id="cpassword" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
